# build / edit artifacts
*.o
*.swp

# built binaries
arpscan

# dist tarball
arpscan-*.tar.gz

# autotools cruft
.deps/
aclocal.m4
autom4te.cache/
config.log
config.status
configure
configure.scan
Makefile
Makefile.in
stamp-h1

# misc stuff
tmp/
