# build / edit artifacts
*.o
*.swp

# built binaries
arpscan

# autotools cruft
.deps/
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
